{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <script src="{% static "js/browser@4.js" %}"></script> {% endcomment %}
    <script src="{% static "js/htmx.min.js" %}"></script>
    {% comment %} <link rel="stylesheet" href="{% static 'css/daisyui@5.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static "js/chart.js" %}"></script>
    <script src="{% static "js/chart-scripts.js" %}"></script>
    <title>
        {% block title %}
        
        {% endblock title %} 
    </title>
   
</head>
<body class="min-h-screen">
    {% block content %}
    
    {% endblock content %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const themeToggle = document.querySelector('.theme-controller');

    // Only run if the checkbox exists
    // if (!themeToggle) return;

    // Apply saved theme on load
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme === 'dark' || savedTheme === 'light') {
      document.documentElement.setAttribute('data-theme', savedTheme);
      themeToggle.checked = savedTheme === 'dark';
    }

    // Listen to checkbox toggle
    themeToggle.addEventListener('change', function () {
      const theme = this.checked ? 'dark' : 'light';
      document.documentElement.setAttribute('data-theme', theme);
      localStorage.setItem('theme', theme);
    });
  });
</script>

{% block scripts %}


{% endblock scripts %}

</body>
</html>