<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-8">
    {% if latest_condition %}
    <div class="stat rounded-lg shadow-lg">
        <div class="stat-figure">
            <div
                class="w-12 h-12 rounded-full flex items-center justify-center text-green-400"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
                    />
                </svg>
            </div>
        </div>
        <div class="stat-title">Current Temperature</div>
        <div class="stat-value text-2xl">
            {{ latest_condition.temperature }}°C
        </div>
    </div>

    <div class="stat rounded-lg shadow-lg">
        <div class="stat-figure">
            <div
                class="w-12 h-12 rounded-full flex items-center justify-center text-blue-400"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V7M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2M8 7h8"
                    />
                </svg>
            </div>
        </div>
        <div class="stat-title">Current Humidity</div>
        <div class="stat-value text-2xl">{{ latest_condition.humidity }}%</div>
    </div>

    <div class="stat rounded-lg shadow-lg">
        <div class="stat-figure">
            <div
                class="w-12 h-12 rounded-full flex items-center justify-center text-purple-400"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M9.879 8.464a5 5 0 000 7.072M7.05 5.636a9 9 0 000 12.728"
                    />
                </svg>
            </div>
        </div>
        <div class="stat-title">Current Noise Level</div>
        <div class="stat-value text-2xl">
            {{ latest_condition.noise_level }} dB
        </div>
    </div>

    <div class="stat rounded-lg shadow-lg">
        <div class="stat-figure">
            <div
                class="w-12 h-12 rounded-full flex items-center justify-center text-yellow-400"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
                    />
                </svg>
            </div>
        </div>
        <div class="stat-title">Current Light Intensity</div>
        <div class="stat-value text-2xl">
            {{ latest_condition.light_intensity }} lux
        </div>
    </div>
    {% endif %}
</div>
