<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
    {% comment %} <div class="stat rounded-lg shadow-lg">
        <div class="stat-figure">
            <div class="w-12 h-12 bg-white bg-opacity-20 rounded-full flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                </svg>
            </div>
        </div>
        <div class="stat-title">Connection Status</div>
        <div class="stat-value text-2xl">Data Poll Live</div>
    </div> {% endcomment %}

    <div class="stat rounded-lg shadow-lg">
        {% comment %} <div class="stat-figure">
            <div class="w-12 h-12 bg-white bg-opacity-20 rounded-full flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                </svg>
            </div> 
        </div> {% endcomment %}
        <div class="stat-title">Current Temperature</div>
        <div class="stat-value text-2xl"> condition.temperature</div>
    </div>

    <div class="stat rounded-lg shadow-lg">
        {% comment %} <div class="stat-figure">
            <div class="w-12 h-12 bg-white bg-opacity-20 rounded-full flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V7M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2M8 7h8" />
                </svg>
            </div>
        </div> {% endcomment %}
        <div class="stat-title">Current Humidity</div>
        <div class="stat-value text-2xl"> condition.humidity</div>
    </div>
</div>